body {line-height: 1; background: #f1f1f1; overflow-x: hidden; height:auto !important; min-height:100%; font-size: 12px; font-family: 'Open Sans', tahoma, Arial, Sans; color: #666666}
.clear {float: none; clear: both;}
html, body {height:100% !important;}
h1, h2, h3, h4, h5, h6 {	font-weight: normal;}

.leftmenu {padding-top: 20px;}

.bshadow {box-shadow: 0px 0px 23px #ccc; border: 1px ridge #ddd}
.pad-10 {padding: 20px;}
right {float:right}
h1 {padding: 15px 0;}

/* login */
#login-form {width: 220px; height: auto; background: #fff; margin: 100px auto 0 auto; padding: 10px 20px}
#login-form .control-label {width: 50px;}
#login-form .controls {margin-left: 60px;}
#login-form button[type="submit"] {width: 100%}
#forg-pwd {margin: 5px 0; text-decoration: underline;}

/* /login */

.barz {background: #fff; border: 1px solid #eee}