html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {background: transparent;	border: 0;	margin: 0;	padding: 0; vertical-align: baseline; font-family: tahoma, Arial, Sans; font-size: 12px; color: #4a5158}
body {line-height: 1; background: #2d313a; overflow-x: hidden; height:auto !important; min-height:100%;}
html, body {height:100% !important;}
h1, h2, h3, h4, h5, h6 {	font-weight: normal;}
ol, ul {list-style: none;}
blockquote {quotes: none;}
blockquote:before, blockquote:after {	content: ''; content: none;}
del {text-decoration: line-through;}
a img {border: none;}
.clear {float: none; clear: both;}

#header {height: 48px; width: 100%; background: #f1f1f1; position: relative;}
#logo {font-size: 32px; float: left; width: 250px; text-align: center;}
#header a {color: #2d313a; text-decoration: none}
#qtask-field {border: 1px #bac2c7 solid; border-radius: 4px; height: 30px; width: auto; min-width: 480px; margin: 6px 0; padding: 0 0 0 20px; width: auto; max-width: 100%;}	

.h {height:95% !important; min-height:95%;}

.block-title {background: #b8d6ee; height: 43px; border-top: 1px solid #4a5158; padding: 0 8px; font-size: 18px; font-weight: bold; line-height: 42px;}
.block-title span{font-weight: lighter; font-size: inherit;}

#block3 .block-title {background: none; border-top: none;}



#block1 {background: #2d313a; width: 24%; min-width: 250px; max-width: 250px; float: left; color: #969db0;}
#block2 {background: #edf3f8; width: 35%; min-width: 357px; max-width: 500px; float: left; margin-right: 8px}
#block3 {background: #ffffff; width: auto;}

/* block1 */
ul#main-list {list-style: none;}
#main-list li{height: 38px; line-height: 38px; padding: 0 8px}
#main-list li:hover{background: #5598c2}
#main-list li:hover a{color: #fff;}
#main-list li a{color: #969db0; text-decoration: none; font-size: 14px}

/* block2 */
.project-about {padding: 8px}

.task {font-size: 16px; height: 36px; line-height: 36px; position: relative; background: #f5f6f7 url(images/bg-task.jpg) top left; border-top: 1px solid #c9d1db;}
.task:hover {background: #e7ebf1 url(images/bg-task-hover.jpg) top left; border-top: 1px solid #c9d1db;}
.task.active {background: #dadfe6;}
.task.ready {background: #c8e2b5;}

.prior-color {position: relative; width: 4px; height: 36px; float: left;}
.hot .prior-color {background: #d24a45}
.norm .prior-color {background: #0099ff}
.ready .prior-color {background: #669933}

.drag-box {width: 6px; height: 22px; margin: 7px 4px; background: url(images/drag-box.png) center center no-repeat; float: left;}
.task-status {float: left; margin: 8px 2px; height: 20px; width: 20px;}
.task-uptime {font-size: 10px; color: #8598a8; text-shadow: 0 1px 1px #f5f6f8; float: left; width: 40px; margin: 0 2px; text-align: center;}
.task-text {font-weight: bold; font-size: 16px; text-shadow: 0 1px 1px #f5f6f8; float: left;}
.task.ready .task-text {text-decoration: line-through; text-shadow: none;}
.task-events {background: #ce343e; padding: 2px 6px; border-radius: 4px; color: #fff; float: right; margin: 10px 4px; font-size: 11px; line-height: 11px;}

/* block3 */
.task-info {padding: 0 8px}
