html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {background: transparent;	border: 0;	margin: 0;	padding: 0; vertical-align: baseline; font-family: 'Open Sans', tahoma, Arial, Sans; color: #4a5158}
body {line-height: 1; background: #f1f1f1; overflow-x: hidden; height:auto !important; min-height:100%; font-size: 12px;}
html, body {height:100% !important;}
h1, h2, h3, h4, h5, h6 {	font-weight: normal;}
ol, ul {list-style: none;}
blockquote {quotes: none;}
blockquote:before, blockquote:after {	content: ''; content: none;}
del {text-decoration: line-through;}
a img {border: none;}
.clear {float: none; clear: both;}

.bshadow {box-shadow: 0px 2px 3px #999}
.rounded-4 {border-radius: 4px}
.pad-10 {padding: 10px;}
.mar-v-10 {margin: 10px}

h1 {padding: 15px 0;}

#login-form {width: 280px; height: 280px; position: absolute; top: 50%; left: 50%; margin: -150px 0 0 -150px; background: #fff;}

#login, #pass {margin: 10px 0}

input[type="text"], input[type="password"]  {padding: 6px; border-radius: 4px; border: 2px #ddd solid; width: 260px}
input[type="text"]:active, input[type="password"]:active  {border: 2px #ffcc00 solid;}

#remember {float: left;}

input[type="submit"]  {padding: 8px 20px; float: right; border-radius: 4px; box-shadow: 0px 2px 0px #ffba00; border: none; background: #ffcc00}
input[type="submit"]:hover  {box-shadow: 0px 0px 2px #ffba00; margin: 4px 0 -2px 0}
